# 2020-09-21

## 1. 기본 자료형 (정수, 실수, 문자열)

- 문자열은 ' ', " " 로 생성한다


- 숫자끼리 사칙연산이 가능하다
- 문자열끼리 가능한 연산은 + 뿐이다
- 문자열과 숫자는 +, -, / 연산이 불가하다
- 문자열과 정수의 * 연산만 가능하다


- 데이터 타입 연산자로 형변환이 가능하다    **| ex: int('30')**

In [9]:
3+4

7

In [13]:
test = 5

In [14]:
test

5

In [2]:
test2 = 2
test3 = 2.3
test4 = '4'

In [3]:
r1 = test2 + test3  # 숫자끼리는 사칙연산이 가능하다
r2 = test2 - test3
r3 = test2 * test3
r4 = test2 / test3

In [5]:
print(r1)
print(r2)
print(r3)
print(r4)

4.3
-0.2999999999999998
4.6
0.8695652173913044

In [26]:
test2 + test4  # 문자열과 숫자는 +, -, / 연산이 불가하다

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
"string"  # 문자열은 '', "" 로 생성한다

'string'

In [33]:
'string'

'string'

In [38]:
'hello' * 3   # 문자열과 정수의 * 연산만 가능하다

'hellohellohello'

In [40]:
'hello' + ' ' + 'world'  # 문자열끼리 가능한 연산은 + 뿐이다

'hello world'

In [47]:
str1 = 'hello'

In [48]:
type(str1)

str

In [50]:
type(test2)

int

In [51]:
type(test3)

float

In [53]:
int('3') + int('4')   # 데이터 타입 연산자로 형변환이 가능하다

7

In [54]:
float(3.4) + float(4)

7.4

In [61]:
int(float('3.000'))

3

In [63]:
str(3)

'3'

## 2. 자료구조 (리스트, 딕셔너리)

- 리스트는 [] 로 생성한다
- 리스트는 순서가 있다
- 리스트는 인덱스, slicing으로 값을 가져온다    **| ex : li[1:5]**
- 리스트에 값을 추가할 때 append()를 사용한다
- [1,2,3] + [4,5,6] = [1,2,3,4,5,6]


- 딕셔너리는 {} 로 생성한다
- 딕셔너리는 순서가 없고, 키값이 있다
- 딕셔너리는 키로 값을 가져온다    **| ex : dic['tele']**
- 딕셔너리에 값을 추가할 때 = 을 사용한다    **| ex : dic['새로운키값'] = 값**
- 딕셔너리에 이미 존재하던 키값에 다른 값을 넣으면, 새로운 값이 추가되는게 아니라 마지막에 넣은 값만 남는다.

In [67]:
# 리스트 => 순서
test_list = ['apple', 'banana', 'melon', 'mango']

In [69]:
test_list

['apple', 'banana', 'melon', 'mango']

In [73]:
test_list[0]

'apple'

In [74]:
test_list[3]

'mango'

In [75]:
test_list[-1]

'mango'

In [80]:
#slicing
test_list[1:3]

['banana', 'melon']

In [87]:
# append
test_list.append('tomato')

In [86]:
test_list

['apple', 'banana', 'melon', 'mango', 'tomato']

In [93]:
test_list.append('watermelon')

In [94]:
test_list

['apple', 'banana', 'melon', 'mango', 'tomato', 'watermelon']

In [103]:
# 딕셔너리 => 순서가 없음 / 키-데이터 관계

# kor, eng, math, sci, soc, art, music
grade = [91, 89, 93, 81, 88, 95, 81]

In [11]:
grade_dict = {'kor' : 91, 'eng' : 89, 'math' : 93}

In [12]:
grade_dict

{'kor': 91, 'eng': 89, 'math': 93}

In [13]:
grade_dict['kor']

91

In [14]:
grade_dict['math']

93

In [15]:
grade_dict['sci'] = 92   # 키값에 = 을 이용하여 딕셔너리에 새로운 값을 추가한다.
grade_dict['sco'] = 88
grade_dict['art'] = 95
grade_dict['music'] = 81

In [16]:
grade_dict['sci'] = 20   # 기존 딕셔너리에 존재하던 키값에 다른 값을 넣으면, 새로운 값이 추가되는게 아니라 마지막에 넣은 값만 남는다.

In [17]:
grade_dict

{'kor': 91,
 'eng': 89,
 'math': 93,
 'sci': 20,
 'sco': 88,
 'art': 95,
 'music': 81}

In [126]:
# DRY : Do Not Repeat Yourself  <-> DIY : Do It Yourself
# 코딩할 땐 DRY하지 않도록 주의하자 (같은 코드가 반복되지 않게 하라. 네가 반복하지 말고 컴퓨터언어가 그것을 대신하게 하라.)

print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

## 3. 반복문 (for, while)

- for문 형식 => for x in list:
- while문 형식 => while x > 10: ... (break)

In [132]:
# for
# for x in list:

for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

In [133]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [136]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [155]:
for j in range(2, 10):
    for i in range(1, 10):
        print(j * i , end=' ')
    print()
    print('*' * 60)

2 4 6 8 10 12 14 16 18
************************************************************
3 6 9 12 15 18 21 24 27
************************************************************
4 8 12 16 20 24 28 32 36
************************************************************
5 10 15 20 25 30 35 40 45
************************************************************
6 12 18 24 30 36 42 48 54
************************************************************
7 14 21 28 35 42 49 56 63
************************************************************
8 16 24 32 40 48 56 64 72
************************************************************
9 18 27 36 45 54 63 72 81
************************************************************

In [19]:
print('*' * 60)

************************************************************

In [160]:
menu = ['apple', 'banana', 'melon', 'tomato', 'watermelon']

for i in menu:
    print(i)

apple
banana
melon
tomato
watermelon

In [161]:
i

'watermelon'

In [21]:
num_list = [10, 11, 12, 13, 7, 8, 9]

In [22]:
for n in num_list:
    print(n)

10
11
12
13
7
8
9

In [23]:
result = 0
for n in num_list:
    result = result + n
    
print(result)

70

In [24]:
result = 0
for n in num_list:
    result += n
    
print(result)

70

In [176]:
result = 1
for n in num_list:
    result = result * n
    
print(result)

8648640

In [185]:
num_list2 = []

for n in num_list:
    num_list2.append(n * 2)
    
num_list2

[20, 22, 24, 26, 14, 16, 18]

In [25]:
# while

a = 1
while 10 > a:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9

In [26]:
a

10

## 4. 조건문 (if)

- if 조건 : ... elif 조건2 : ... else : ...

In [191]:
a = 20

if a > 10:
    if a < 15:
        print('10 < a <15')
    else:
        print('a > 15')
else:
    print('a < 10')

a > 15

In [ ]:
a = 10
if a > 15:
    print('a > 15')
elif a > 10:
    print('10 < a < 15')
else:
    print('a <= 10')

In [27]:
# random game
# input()
# while True:
#      break
answer = 50

while True:
    print('answer : ', end = ' ')
    user = int(input())
    if user > answer:
        print('down!!!')
    elif user < answer:
        print('up!!!')
    else:
        print('정답입니다~~~!')
        break

answer :  40
up!!!
answer :  60
down!!!
answer :  50
정답입니다~~~!

In [4]:
# module = 도구 상자

import random

In [15]:
# random.randrange(s_idx, e_idx)  => s_idx 부터 e_idx까지의 숫자 중 랜덤값 하나를 가져오기

random.randrange(1, 100)

92

In [16]:
# random game
import random
answer = random.randrange(1, 100)

while True:
    print('answer : ', end = ' ')
    user = int(input())
    if user > answer:
        print('down!!!')
    elif user < answer:
        print('up!!!')
    else:
        print('정답입니다~~~!')
        break

answer :  30
up!!!
answer :  40
down!!!
answer :  34
up!!!
answer :  36
up!!!
answer :  38
up!!!
answer :  39
정답입니다~~~!

In [4]:
from random import randrange

In [5]:
randrange(1, 4)

1

In [10]:
# lotto game
# num length 6 / no dup
list_lotto = []

while len(list_lotto) < 6:
    rnd_number = randrange(1, 47)
    if rnd_number not in list_lotto:
        list_lotto.append(rnd_number)

In [11]:
list_lotto

[25, 11, 22, 36, 38, 7]

In [16]:
# 피타고라스 정리로 빗변 길이 구하기  * 빗변 = 루트(밑변^2  + 높이^2)
# import math
# math.squrt(num) => 루트 num

# 파이썬의 제곱 => 2 ** 2 = 2^2
import math

x = 1
y = 3

temp_sum = x ** 2 + y ** 2
result = math.sqrt(temp_sum)

In [17]:
result

3.1622776601683795

## 5. 함수

- 함수 => 코드 재사용을 위해 코드에 이름을 붙임
- 변수 => 데이터 재사용을 위해 데이터에 이름을 붙임


- 함수 안의 자원은 함수 밖에서 사용 못 함 => return 사용 필요
- return => 함수 안에서 함수 밖으로 데이터를 던진다

In [46]:
# 함수 => 코드 재사용을 위해 코드에 이름을 붙임
# 변수 => 데이터 재사용을 위해 데이터에 이름을 붙임

# 함수 안의 자원은 함수 밖에서 사용 못 함 => return 사용 필요
# return => 함수 안에서 함수 밖으로 데이터를 던진다

def get_sum(num_list):
    result = 0
    
    for n in num_list:
        result = result + n

    return result

In [47]:
ex = [2, 1, 2, 6]
result = get_sum(ex)

11

In [49]:
ex2 = 100
result = ex2 * 100

In [59]:
# 함수버전 - 피타고라스 정리로 빗변 길이 구하기  * 빗변 = 루트(밑변^2  + 높이^2)
import math

def get_pita(x, y):
    return math.sqrt(x ** 2 + y ** 2)
    
result = get_pita(3, 4)

In [60]:
result

5.0

## 6. 데이터 분석

- pandas => 새로운 자료구조 2개를 제공 (시리즈, 데이터프레임)
--------------------------

- 시리즈는 1차원 자료구조이다 (구성 : 인덱스, 데이터 값)
- 시리즈는 인덱스를 문자열로 지정하여 키처럼 사용할 수 있다
- 시리즈는 순서가 있다
- 시리즈 속 데이터 값은 같은 형식만 가능하다


- 시리즈의 초기화
 - s1 = pd.Series()
 - s1 = pd.Series([])
 - s1 = pd.Series(1)
 - s1 = pd.Series([1])
 - s1 = pd.Series([1,2,3])
 - s1 = pd.Series([90, 88, 93, 87, 91, 96], index=['A', 'B', 'C', 'D', 'E', 'F'])
- 시리즈의 값 가져오기 : s1[0] / s1['A'] 
- 시리즈의 값 추가 : s1.loc[새인덱스] = 값
- 시리즈의 slicing : s1[1:5]
- 시리즈의 filtering : s1[s1 > 90] / s1[ (s1 > 85) & (s1 < 90) ]
- 시리즈의 벡터연산 : Series[1, 2, 3] + Series[4, 5, 6] = Series[5, 7, 9]


- 시리즈의 함수
 - 시리즈.sort_values()  => 오름차순 정렬
 - 시리즈.sort_values(ascending=False)  => 내림차순 정렬
 
--------------------------

- 데이터프레임은 2차원 자료구조이다 (구성 : 컬럼, 인덱스, 데이터 값)
- 데이터프레임은 인덱스를 문자열로 지정하여 키처럼 사용할 수 있다
- 데이터프레임은 순서가 있다 (행 기준)
- 데이터프레임 속 데이터 값은 다른 형식도 가능하다


- 데이터프레임의 초기화
 - df = pd.DataFrame({'math':[91, 90, 89, 93, 92, 88], 'eng' : [90, 88, 93, 87, 91, 96]}, index=['A', 'B', 'C', 'D', 'E', 'F'])
- 데이터프레임의 값 가져오기 : df[col][row] / df.loc[row][col]
- 데이터프레임의 값 추가
 - 열 단위 값 추가 : df['새컬럼'] = df['컬럼1'] + df['컬럼2']
 - 행 단위 값 추가 : df.loc[새인덱스] = 값
- 데이터프레임의 slicing : df[1:5]    (행 기준)
- 데이터프레임의 filtering : df[df['컬럼'] > 90] / df[ (df['컬럼'] > 85) & (df['컬럼'] < 90)]


- 데이터프레임의 함수
 - 데이터프레임.sort_values('컬럼')  => 지정 컬럼의 데이터 기준 오름차순 정렬
 - df.sort_values('컬럼', ascending = False)  => 지정 컬럼의 데이터 기준 내림차순 정렬
 
 -------------------
 
- 데이터분석 도구상자 기본 세팅
 - import pandas as pd  => 데이터 분석에 필요한 자료구조(시리즈, 데이터프레임), 연산
 - import numpy as np   => 선형대수, 행렬 연산
 - import matplotlib.pyplot as plt => 데이터 시각화
 - import seaborn as sns => matplot 의 투박한 그래픽을 대체하기 위한 시각화 모듈 **(선택사항)**
 

- 데이터분석 함수
 - sns.load_dataset('데이터셋명')  => data example 불러오기
 - df['컬럼'].value_counts()  => 컬럼 기준으로 group by count 한 결과 얻기
 - df['컬럼'].value_counts(normalize=True)  => 컬럼 기준으로 group by count한 결과의 비중 얻기

In [64]:
# A, B, C, D, E, F
math = [91, 90, 89, 93, 92, 88]
eng = [90, 88, 93, 87, 91, 96]

In [65]:
# sorted(list) => 오름차순 정렬
sorted(math)

[88, 89, 90, 91, 92, 93]

In [66]:
# list1 + list2 = list3 => 두 리스트의 값이 모두 합쳐진 새로운 리스트를 리턴
math + eng

[91, 90, 89, 93, 92, 88, 90, 88, 93, 87, 91, 96]

In [70]:
for i in range(0, 6):
    print((math[i] + eng[i]) / 2)

90.5
89.0
91.0
90.0
91.5
92.0

In [33]:
# pandas => 새로운 자료구조 2개를 제공
# 시리즈, 데이터프레임
import pandas as pd

In [82]:
# 시리즈 => 1차원 자료구조 (구성 : 인덱스, 데이터 값)
#        => index를 문자열로 지정하여 key처럼 사용 가능
#        => 순서 유지됨
#        => 리스트 + 딕셔너리를 합한 자료구조

math_sr = pd.Series([91, 90, 89, 93, 92, 88], index=['A', 'B', 'C', 'D', 'E', 'F'])

In [85]:
math_sr

A    91
B    90
C    89
D    93
E    92
F    88
dtype: int64

In [86]:
# slicing
math_sr[1:5]

B    90
C    89
D    93
E    92
dtype: int64

In [87]:
math_sr['A']

91

In [88]:
math_sr['B']

90

In [89]:
math_sr[1]

90

In [90]:
# 시리즈.sort_values()  => 오름차순 정렬
math_sr.sort_values()

F    88
C    89
B    90
A    91
E    92
D    93
dtype: int64

In [91]:
# 시리즈.sort_values(ascending=False)  => 내림차순 정렬
math_sr.sort_values(ascending=False)

D    93
E    92
A    91
B    90
C    89
F    88
dtype: int64

In [108]:
# 시리즈 안에 들어가는 데이터 값은 같은 형식만 가능하다

s1 = pd.Series()
s1 = pd.Series([])

s1 = pd.Series(1)
#s1 = pd.Series(1, 2)  => error
s1 = pd.Series([1])
s1 = pd.Series([1,2,3])

s1 = pd.Series(['a', 'b'])
#s1 = pd.Series(['a', 1])  => error
#li = ['a',1] ==> ok

In [112]:
s1

0    a
1    b
dtype: object

In [113]:
# 필터링 => 자료구조에서 조건을 이용해 데이터를 가져옴   (시리즈와 데이터프레임만 가능)

math_sr[math_sr > 90]

A    91
D    93
E    92
dtype: int64

In [115]:
# 조건 2개 => s1[ (조건1) & (조건2) ]

math_sr[ (math_sr > 85) & (math_sr < 90) ]

C    89
F    88
dtype: int64

In [49]:
eng_sr = pd.Series([90, 88, 93, 87, 91, 96], index=['A', 'B', 'C', 'D', 'E', 'F'])

In [52]:
eng_sr

A    90
B    88
C    93
D    87
E    91
F    96
7    99
dtype: int64

In [53]:
eng_sr.loc[] = 99

SyntaxError: invalid syntax (<ipython-input-53-0b4c99435c06>, line 1)

In [55]:
eng_sr[6]

KeyError: 6

In [118]:
eng_sr[eng_sr > 90]

C    93
E    91
F    96
dtype: int64

In [120]:
# 두 시리즈에서 같은 인덱스의 데이터끼리 연산하기 (벡터 연산) * 리스트는 안 됨

# 두 과목의 평균 구하기
(math_sr + eng_sr) / 2

A    90.5
B    89.0
C    91.0
D    90.0
E    91.5
F    92.0
dtype: float64

In [128]:
# 데이터 프레임 => 2차원 자료구조 (구성 : 컬럼, 인덱스, 데이터 값)
#               => index를 문자열로 지정하여 key처럼 사용 가능
#               => 순서 유지됨 (행)
#               => 데이터 값 가져오기 : df[col][row]   *row(index)로 먼저 선택할 때, df.loc[row][col] 사용

In [40]:
# 데이터 프레임 정의 => pd.DataFrame({'컬럼1':[값, 값, 값, ..], '컬럼2':[값, 값, 값, ..]}, index=[인덳1, 인덳2, ..])

grade_df = pd.DataFrame({'math':[91, 90, 89, 93, 92, 88], 'eng' : [90, 88, 93, 87, 91, 96]}, index=['A', 'B', 'C', 'D', 'E', 'F'])

In [41]:
grade_df

   math  eng
A    91   90
B    90   88
C    89   93
D    93   87
E    92   91
F    88   96

In [131]:
grade_df['math']['A']  # df[col][row]

91

In [135]:
grade_df['math'][0]

91

In [136]:
grade_df.loc['A']['math']  # row(index)로 먼저 선택할 때 loc() 사용

91

In [138]:
grade_df['math']  # col 만 선택하면, 데이터 값은 시리즈가 됨 (col이 데이터 값이 됨)

A    91
B    90
C    89
D    93
E    92
F    88
Name: math, dtype: int64

In [140]:
grade_df.loc['A'] # row 만 선택하면, 데이터 값은 시리즈가 됨 (row이 데이터 값이 됨)

math    91
eng     90
Name: A, dtype: int64

In [141]:
grade_df[1:4]  # slicing은 row 기준

   math  eng
B    90   88
C    89   93
D    93   87

In [143]:
# 데이터프레임.sort_values('컬럼') => 컬럼 기준으로 오름차순 정렬
grade_df.sort_values('math')  # 정렬 기준이 될 col 지정 필수

   math  eng
F    88   96
C    89   93
B    90   88
A    91   90
E    92   91
D    93   87

In [147]:
# 데이터프레임.sort_values('컬럼', ascending = False)  => 컬럼 기준으로 내림차순 정렬
grade_df.sort_values('math', ascending = False)

   math  eng
D    93   87
E    92   91
A    91   90
B    90   88
C    89   93
F    88   96

In [145]:
grade_df.sort_values('eng')

   math  eng
D    93   87
B    90   88
A    91   90
E    92   91
C    89   93
F    88   96

In [148]:
grade_df.sort_values('eng', ascending = False)

   math  eng
F    88   96
C    89   93
E    92   91
A    91   90
B    90   88
D    93   87

In [149]:
# 필터링 => 데프[데프['컬럼'] > 값]

grade_df[grade_df['math'] > 90]

   math  eng
A    91   90
D    93   87
E    92   91

In [151]:
grade_df[ (grade_df['math'] > 90) & (grade_df['eng'] > 90) ]

   math  eng
E    92   91

In [56]:
# 평균 구해서 새로운 col에 추가하기

grade_df['avg'] = (grade_df['math'] + grade_df['eng']) / 2

In [63]:
grade_df

   math  eng   avg
A    91   90  90.5
B    90   88  89.0
C    89   93  91.0
D    93   87  90.0
E    92   91  91.5
F    88   96  92.0
0     0    0   0.0

In [65]:
# 파이썬 데이터 분석 시 기본 세팅

import pandas as pd  # 데이터 분석에 필요한 자료구조(시리즈, 데이터프레임), 연산
import numpy as np   # 선형대수, 행렬 연산
import matplotlib.pyplot as plt # 데이터 시각화

import seaborn as sns # +) matplot 의 투박한 그래픽을 대체하기 위한 시각화 모듈(선택사항)

In [66]:
# sns.load_dataset('데이터셋명')
titanic = sns.load_dataset('titanic') #data example 불러오기

In [69]:
# titanic 데이터를 이용하여 새로운 승객데이터의 생존(0 or 1) 예측하기
# 0: death / 1: survived
titanic['survived'].value_counts()
titanic['survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: survived, dtype: float64

In [167]:
male = titanic[titanic['sex']=='male']

In [170]:
male['survived'].value_counts()
male['survived'].value_counts(normalize=True)
# male survived : 18%

0    0.811092
1    0.188908
Name: survived, dtype: float64

In [172]:
female = titanic[titanic['sex']=='female']
female['survived'].value_counts()
female['survived'].value_counts(normalize=True)
# female survived : 74%

1    0.742038
0    0.257962
Name: survived, dtype: float64

In [173]:
# male, female 기준으로 생존여부가 명확히 갈림 => 새로운 승객 데이터의 성별로 생존여부를 판단 할 수 있음

In [191]:
class_1 = titanic[titanic['pclass']==1]
class_1['survived'].value_counts()

1    136
0     80
Name: survived, dtype: int64